@brand-primary: rgba(78,124,145,1);
.MyLogo{
    border-bottom: 2px outset red;
    background-color: #4E7C91;
}
.BlueOceanLogo svg, .BlueOceanLogo:hover svg{
    height: 30px;
}
// set you own header color
.BasicHeader--default {
    background-color: #4E7C91;
}
.story {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider {
    width: 100%;
    //height: 95vh;
}
.slide {
    //height: 100%;
    font-size: 3.5vw;
    main {
        padding: 20px;
        font-size: 3.5vw;
        h3 {
            font-size: 3.5vW;
        }
    }
    .BasicHeader {
        .Header-topNav {
            padding: 20px;
        }
    }
}
.slide-main {
    padding: 20px;
    font-size: 3.5vw;
}
