@brand-primary: rgba(78,124,145,1);
.MyLogo{
    border-bottom: 2px outset red;
    background-color: #4E7C91;
}
.BlueOceanLogo svg, .BlueOceanLogo:hover svg{
    height: 30px;
}
// set you own header color
.BasicHeader--default {
    background-color: #4E7C91;
}
.story {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.BasicHeader.slide {
    width: 90%;
    .Header-topNav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
